html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
}

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	background-color: #4dcffa;
	z-index: 1;
}

#logo {
	width: 250px;
	margin: 5px 0 0 20px;
}

#point_holder {
	height: 50px;
	width: 60px;
	background-color: #4dcffa;
	border-radius: 20px;
	border: 2px solid #fff;
	float: right;
	position: absolute;
	top: 6px;
	right: 20px;
	text-align: center;
	color: #ffffff;
}

.points {
	font-size: 2em;
}

#user {
	color: #ffffff;
	text-align: right;
	position: absolute;
	top: 18px;
	right: 95px;
}

.f7main {
	width: 100%;
	background-image: url('../images/f7_background.jpg');
	height: 1400px;
	background-size: cover;
	margin-top: 70px;
	color: #ffffff;
}

.grid_content1 {
	padding-top: 400px;
	text-align: center;
}

.grid_content2 {
	padding-top: 50px;
	text-align: center;
}